body {
    background: #080d1a;
    color: white;
    font-family: Arial, sans-serif;
}


.container {
    display: flex;
    gap: 40px;
    padding: 40px;
}


/* LEFT */

.profile {
    width: 300px;
    background: #111a33;
    padding: 25px;
    border-radius: 20px;
}


.pfp {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
}


.bio {
    color: #b8c2e0;
}


.tags span {
    display: inline-block;
    background: #233252;
    padding: 8px;
    margin: 5px;
    border-radius: 20px;
}


/* RIGHT */

.projects {
    flex: 1;
}


.project {
    display: block;
    background: #111a33;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 20px;
    color: white;
    text-decoration: none;
    transition: .3s;
}


.project:hover {
    transform: translateY(-5px);
    border: 2px solid #7ef7ff;
}


.project p {
    color: #b8c2e0;
}
